@import "../../container.module.scss";

.main {
  padding: 20px;
  height: 100vh;
  h1 {
    font-size: 56px;
  }
  p {
    font-size: 30px;
    line-height: 50px;
    margin-top: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    height: 290px;
  }
  .backgroundImg {
    background-image: url(https://landen.imgix.net/edmyisgcymym/assets/fyyjicfx.jpg?w=1300&h=800&q=50&fit=crop);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    background-position: 50%;
    background-size: cover;
  }
  .backgroundColor {
    background-color: rgba(0, 0, 0, 0.49);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.textWrapper {
  position: absolute;
  text-align: center;
  line-height: 65px;
  top: 20vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.imgWrapper {
  position: absolute;
  top: 50vh;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  margin: auto;
  max-width: 900px;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .main h1 {
    font-size: 33px;
    line-height: initial;
  }
  .imgWrapper {
    top: 40vh;
  }
  .textWrapper {
    top: 35vh;
  }
  .main p {
    font-size: 20px;
    line-height: initial;
    margin-top: 20px;
  }
}

@media (min-width: 960px) {
  .textWrapper {
    top: 40vh;
  }
}
