@import "../../reset.module.scss";
@import "../../container.module.scss";

.main {
  padding: 20px;
  height: 100vh;
}

.background_img {
  background-image: url(https://landen.imgix.net/edmyisgcymym/assets/fyyjicfx.jpg?w=1300&h=800&q=50&fit=crop);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
}

.background_color {
  background-color: rgba(0, 0, 0, 0.49);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.optme_img {
  position: absolute;
  top: 55vh;
  right: 0;
  left: 0;
  bottom: 0;
  width: 90%;
  margin: auto;
  max-width: 900px;
}

.main h1 {
  position: absolute;
  font-size: 56px;
  text-align: center;
  line-height: 65px;
  top: 25vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.main img {
  width: 100%;
}
