@import "../../container.module.scss";

.partner {
  background: #2e5071;
  height: 400px;
  &::before {
    display: block;
    content: " ";
    margin-top: 40px;
    height: 40px;
    visibility: hidden;
    pointer-events: none;
  }
}

.wrapper {
  display: flex;
  color: white;
  flex-direction: column;
  max-width: 90%;
  margin: 60px auto;
  > h1 {
    text-align: center;
    line-height: initial;
    margin-bottom: 40px;
  }
  h3,
  p {
    color: white;
  }
}

textarea {
  resize: none;
}

.differentialsUnity {
  line-height: 1.1;
  margin-bottom: 40px;
}

.differentialsUnity:nth-child(2),
.differentialsUnity:nth-child(4) {
  margin-bottom: 0;
}

.differentials {
  color: rgba(174, 175, 176, 1);
  font-size: 20px;
  line-height: 1.1;
  column-count: 2;
  column-gap: 50px;
  width: 870px;
  margin: 0 auto;
  p {
    font-size: 18.4px;
  }
}

@media (max-width: 960px) {
  .differentials {
    column-count: 1;
    column-gap: 50px;
    width: initial;
    max-width: 90%;
  }

  .differentialsUnity:nth-child(2) {
    margin-bottom: 40px;
  }

  .differentialsUnity:nth-child(4) {
    margin-bottom: 0;
  }
  .partner {
    height: 500px;
  }
  .wrapper {
    margin-top: 30px;
  }
}
