.navbar {
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: white;
  color: white;
  img {
    margin-left: 20px;
    padding: 5px;
    vertical-align: bottom;
    width: 50px;
  }
}
