@import "../../reset.module.scss";
@import "../../container.module.scss";

.tech {
  color: black;
  .skill {
    display: flex;
    align-items: center;
  }
}

.skill p {
  margin-left: 5px;
}

.image {
  height: 330px;
  margin-right: 50px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
