* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  font-size: 14px;
  line-height: 2.1;
}

section::before {
  display: block;
  content: " ";
  margin-top: -33px;
  height: 33px;
  visibility: hidden;
  pointer-events: none;
}
