* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body,
input,
button {
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  font-size: 1.4rem;
  line-height: 2.1;
}

svg {
  scale: 2.5;
}

.navbar {
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  position: fixed;
  z-index: 10;
  background: white;
  color: white;
}

.navbar img {
  margin-left: 2rem;
  padding: 1rem;
}

.main {
  min-height: 654px;
  overflow: hidden;
  height: 100vh;
}

#main-background-img {
  background-image: url(https://landen.imgix.net/edmyisgcymym/assets/fyyjicfx.jpg?w=1300&h=800&q=50&fit=crop);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  background-position: 50%;
  background-size: cover;
}

#main-background-color {
  background-color: rgba(0, 0, 0, 0.49);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main div:last-child {
  padding: 30px;
  position: relative;
}

.main h1 {
  position: absolute;
  font-size: 5.6rem;
  color: #fff;
  text-align: center;
  line-height: 65px;
  top: 25vh;
}

.main img {
  position: absolute;
  max-width: 100%;
  top: 55vh;
  padding-right: 50px;
  padding-left: 14px;
}

.presentation {
  background: rgba(46, 80, 113, 1);
  display: flex;
  padding: 4rem;
  justify-content: center;
}

.presentation h1 {
  font-size: 2.6rem;
}

.whoami {
  margin-bottom: 2rem;
}

.presentation h3 {
  font-size: 2rem;
}

.presentation svg {
  scale: 5;
}

.presentation-text {
  width: 50%;
  max-width: 500px;
}

.presentation-img {
  width: 50%;
}

.presentation img {
  max-width: 100%;
  max-height: 500px;
  padding: 5rem;
}

.presentation svg {
  color: hsl(219.2, 73.5%, 80.8%);
  scale: 6;
}

.skill-wrapper {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1.5;
}

.skill-wrapper > svg {
  margin-right: 2.5rem;
}

.tech {
  display: flex;
  color: black;
}

.tech div {
  margin: auto 0;
  width: 50%;
}

.tech div:first-child {
  margin: initial;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  padding: 5rem;
}

.tech img {
  max-width: 100%;
}

.tech div div {
  display: flex;
}

.tech p {
  margin-left: 1rem;
}

form {
  margin: revert;
  padding: revert;
}

.form {
  background: rgba(46, 80, 113, 1);
  display: flex;
}

.form-container {
  max-width: 90%;
  margin: 50px auto;
}

.form-container > h1 {
  line-height: initial;
}

.form h1 {
  font-size: 3.7rem;
  text-align: center;
}

.div-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}

.div-inline-first {
  display: inline-block;
  width: calc(50% - 9px);
  margin-bottom: 1.6rem;
  margin-right: 9px;
}

.div-inline-second {
  display: inline-block;
  width: calc(50% - 9px);
  margin-bottom: 1.6rem;
  margin-left: 0.9rem;
}

::placeholder {
  color: #bbb;
}

button {
  color: rgba(82, 85, 87, 1);
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0 0.7em;
  height: 2.4em;
  line-height: 2.4em;
  border: none;
  outline: none;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-weight: 500;
  font-size: 1.05em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

input {
  color: #fafafa;
  width: 100%;
  padding: 0 1rem;
  color: black;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border: none;
}

.partner {
  display: flex;
  color: black;
  flex-direction: column;
  max-width: 90%;
  margin: 50px auto;
}

.partner > h1 {
  color: rgba(82, 85, 87, 1);
  text-align: center;
  line-height: initial;
  margin-bottom: 40px;
}

#differentials-unity {
  line-height: 1.1;
  margin-bottom: 4rem;
}

#differentials-unity {
  line-height: 1.1;
  margin-bottom: 4rem;
}

#differentials #differentials-unity:nth-child(2),
#differentials #differentials-unity:nth-child(4) {
  margin-bottom: 0;
}

#differentials {
  color: rgba(174, 175, 176, 1);
  font-size: 2rem;
  line-height: 1.1;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 50px;
  width: 700px;
  margin: 0 auto;
}

#differentials p {
  font-size: 1.84rem;
}

.footer {
  background: rgba(46, 80, 113, 1);
  display: flex;
  min-height: 9rem;
}

.footer div {
  margin: auto;
}

ul {
  display: flex;
  flex-direction: row;
  grid-gap: 4rem;
  list-style-type: none;
}

@media (max-width: 600px) {
  .div-inline-first,
  .div-inline-second {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .main h1 {
    font-size: 3rem;
  }

  .presentation {
    display: block;
    justify-content: unset;
  }
  .presentation-text,
  .presentation-img {
    width: 100%;
  }
}

@media (max-width: 960px) {
  #differentials {
    column-count: 1;
    column-gap: 50px;
    width: initial;
    max-width: 90%;
  }

  #differentials #differentials-unity:nth-child(2) {
    margin-bottom: 4rem;
  }

  #differentials #differentials-unity:nth-child(4) {
    margin-bottom: 0;
  }
}
